@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap/dist/css/bootstrap.min.css';

.dark {
  --bg-color-dark: #1c1c1c;
  --text-color-dark: #fafafa;
}

.light {
  --bg-color-white: #fafafa;
  --text-color-white: #1c1c1c;
}

.bg-color-dark {
  background-color: #010105;
  color: #fff;
}

.bg-color-white {
  background-color: #fff;
  color: #010105;
}

.bg-footer-color-white {
  box-shadow: inset 0px 120px 30px -24px #fff;
  background-color: #64313111;
  color: #1c1c1c;
}

.card-dark {
  background: hsla(0, 0%, 100%, 0.06);
  box-shadow: 0 16px 48px 8px rgba(1, 1, 5, 0.1);
  border-radius: 18px;
}

.card-white {
  background: #fff;
  box-shadow: 0 16px 48px 8px rgba(1, 1, 5, 0.1);
  border-radius: 18px;
}

.search-dark {
  border-bottom: 1px solid #fafafa;
}

.search-white {
  border-bottom: 1px solid #1c1c1c;
}

.input-dark {
  color: #1c1c1c;
}

.input-white {
  color: #fff;
}

.carousel-inner {
  height: 60vh;
  width: 100%;
}

.imgCarousel {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-indicators {
  display: none;
}
.modalPosition {
  width: 60%;
  top: 15vh;
  left: 20vw;
  position: absolute;
}

.active {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.modalPosition {
}

/* Input */
.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #966ff0, rgb(139, 92, 246));
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #8b5cf6;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* google button  */
button {
  min-width: 280px;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: #010105;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button svg {
  height: 24px;
}

button:hover {
  transform: scale(1.02);
  box-shadow: none;
}

/* github button */
.button2 {
  min-width: 280px;
  display: flex;
  justify-content: center;
  background-color: rgb(24, 23, 23);
  color: #fafafa;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.6s ease;
}

.button2 svg {
  height: 24px;
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 920px) {
  .carousel-inner {
    height: 45vh;
  }

  .imgCarousel {
    height: 45vh;
  }

  .postWidth {
    width: 45%;
  }

  .modalPosition {
    width: 90%;
    top: 15vh;
    left: 5vw;
  }
}

@media (max-width: 620px) {
  .carousel-inner {
    height: 70vh;
  }

  .imgCarousel {
    height: 70vh;
  }

  .postWidth {
    width: 100%;
  }

  .modalPosition {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}
