@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap/dist/css/bootstrap.min.css';

.dark {
  --bg-color-dark: #1c1c1c;
  --text-color-dark: #fafafa;
}

.light {
  --bg-color-white: #fafafa;
  --text-color-white: #1c1c1c;
}

.bg-color-dark {
  background-color: #010105;
  color: #fff;
}

.bg-color-white {
  background-color: #fff;
  color: #010105;
}

.bg-footer-color-white {
  box-shadow: inset 0px 120px 30px -24px #fff;
  background-color: #64313111;
  color: #1c1c1c;
}

.card-dark {
  background: hsla(0, 0%, 100%, 0.06);
  box-shadow: 0 16px 48px 8px rgba(1, 1, 5, 0.1);
  border-radius: 18px;
}

.card-white {
  background: #fff;
  box-shadow: 0 16px 48px 8px rgba(1, 1, 5, 0.1);
  border-radius: 18px;
}

.input-dark {
  border-bottom: 1px solid #fafafa;
}

.input-white {
  border-bottom: 1px solid #1c1c1c;
}

.carousel-inner {
  height: 60vh;
  width: 100%;
}

.imgCarousel {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.postWidth {
  width: 30%;
}

@media (max-width: 920px) {
  .carousel-inner {
    height: 45vh;
  }

  .imgCarousel {
    height: 45vh;
  }

  .postWidth {
    width: 45%;
  }
}

@media (max-width: 620px) {
  .carousel-inner {
    height: 70vh;
  }

  .imgCarousel {
    height: 70vh;
  }

  .postWidth {
    width: 100%;
  }
}
