@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dark {
  --bg-color-dark: #1c1c1c;
  --text-color-dark: #fafafa;
}

.light {
  --bg-color-white: #fafafa;
  --text-color-white: #1c1c1c;
}

.bg-color-dark {
  background-color: #1c1c1c;
  color: #fafafa;
}

.bg-color-white {
  background-color: #fafafa;
  color: #1c1c1c;
}

.input-dark {
  border-bottom: 1px solid #fafafa;
}

.input-white {
  border-bottom: 1px solid #1c1c1c;
}
