@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap/dist/css/bootstrap.min.css';

.dark {
  --bg-color-dark: #1c1c1c;
  --text-color-dark: #fafafa;
  --border-color-dark: #0f0f0f;
  --reactIcons-color-dark: rgba(0, 0, 0, 0.99);
}

.light {
  --bg-color-white: #fafafa;
  --text-color-white: #1c1c1c;
  --border-color-white: #1d1d1d;
  --reactIcons-color-white: hsla(0, 0%, 100%, 0.99);
}

body {
  color: var(--text-color-white);
  background-color: var(--bg-color-white);
}

[data-theme='dark'] body,
.css-6hp17o-MuiList-root-MuiMenu-list {
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
}

[data-theme='dark'] .css-6hp17o-MuiList-root-MuiMenu-list {
  color: var(--text-color-dark);
  background: black;
}

[data-theme='dark'] .css-i4bv87-MuiSvgIcon-root {
  fill: #fff;
}

[data-theme='dark'] [data-testid='DeleteIcon'] {
  fill: red !important;
}

.bg-color {
  background-color: #fff;
  color: #010105;
}

[data-theme='dark'] .bg-color {
  background-color: #010105;
  color: #fff;
}

.bg-color-dark input {
  color: #1c1c1c;
}

.bg-color-dark textarea {
  color: #1c1c1c;
}

.card-dark,
.modal-dark {
  background: #1c1c1c;
  box-shadow: 0 16px 48px 8px rgba(1, 1, 5, 0.1);
  border-radius: 18px;
}

.card-white,
.modal-white {
  background: #fff;
  box-shadow: 0 16px 48px 8px rgba(1, 1, 5, 0.1);
  border-radius: 18px;
}

.user-white {
  background: #fff;
  border-radius: 10px;
}

.user-dark {
  background: #1c1c1c;
  box-shadow: 0 16px 48px 8px rgba(1, 1, 5, 0.1);
  border-radius: 10px;
}

.search-dark {
  border-bottom: 1px solid #fafafa;
}

.search-white {
  border-bottom: 1px solid #1c1c1c;
}

/* Add these styles to the Card component to ensure each card occupies 33% width */
.card {
  flex: 0 0 31.75%; /* Each card occupies 30.33% of the container width */
  max-width: 31.75%;
}

/* Add these styles to the carousel container to ensure cards are displayed in a row */
.carousel {
  display: flex;
  flex-wrap: nowrap; /* Prevent cards from wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scrolling */
}

/* Add this style to hide the default scrollbar */
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-inner {
  height: 60vh;
  width: 100%;
}

.imgCarousel {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-indicators {
  display: none;
}

.modalPosition {
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.deleteModalPosition {
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.usersModal {
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
.active {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.imageSettings {
  height: auto;
}

/* Input */
.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #966ff0, rgb(139, 92, 246));
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #8b5cf6;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* google button  */
/* button {
  min-width: 280px;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: #010105;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
} */

.actionButton {
  min-width: 280px;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: #010105;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button svg {
  height: 24px;
}

.modalButton {
  min-width: 280px;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: #010105;
  cursor: pointer;
  transition: all 0.6s ease;
}

.actionButton:hover,
.modalButton:hover {
  transform: scale(1.02);
}

.profileBtn {
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.6s ease;
  vertical-align: middle;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  gap: 0.75rem;
  align-self: flex-start;
}

.profileBtn:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: none;
}

/* github button */
.button2 {
  min-width: 280px;
  display: flex;
  justify-content: center;
  background-color: rgb(24, 23, 23);
  color: #fafafa;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.6s ease;
}

.button2 svg {
  height: 24px;
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

.hidden-xs-up {
  display: none !important;
}

/* search input */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

#wrap {
  position: relative;
  height: 28px;
  padding: 0;
  position: relative;
}

input.specific-input {
  height: 28px;
  font-size: 18px;
  font-weight: 100;
  border: none;
  outline: none;
  padding: 3px 60px 0px 3px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}

input.specific-input:focus:hover {
  border-bottom: 1px solid #bbb;
}

input.specific-input:focus {
  width: 13rem;
  height: 28px;
  z-index: 1;
  border-bottom: 1px solid #bbb;
  cursor: text;
}

input[type='submit'] {
  height: 10px;
  width: 10px;
  display: inline-block;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

input[type='submit']:hover {
  opacity: 0.8;
}

.custom-btn {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  padding: 3px 25px;
  cursor: pointer;
  background: rgb(96, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  );
}

/* search input on userModal */
.container-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 60%;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate(0, -50%);
  transition: left 0.2s ease-in-out;
}

.input:focus {
  width: 100%;
  opacity: 1;
}
.container-input:focus-within svg {
  left: 3%;
}

@media (max-width: 920px) {
  .carousel-inner {
    height: 45vh;
  }

  .imgCarousel {
    height: 45vh;
  }

  .postWidth {
    width: 45%;
  }

  .modalPosition {
    width: 90%;
  }

  .usersModal {
    width: 60%;
  }

  .deleteModalPosition {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }

  .card {
    flex: 0 0 47%; /* Each card occupies 30.33% of the container width */
    max-width: 47%;
    height: 400px;
    max-height: 400px;
  }
}

@media (max-width: 620px) {
  .carousel-inner {
    height: 70vh;
  }

  .imgCarousel {
    height: 70vh;
  }

  .postWidth {
    width: 100%;
  }

  .modalPosition {
    width: 100%;
    min-height: 100vh;
  }

  .usersModal {
    width: 100%;
    min-height: 100vh;
  }

  .deleteModalPosition {
    width: 100%;
    height: 100vh;
    position: fixed;
  }
  input.specific-input:focus {
    width: 10rem;
  }

  .reactIcons-dark {
    background-color: rgba(0, 0, 0, 0.99) !important;
  }

  .reactIcons-white {
    background-color: hsla(0, 0%, 100%, 0.99) !important;
  }

  .card {
    flex: 0 0 97.5%; /* Each card occupies 30.33% of the container width */
    max-width: 99%;
  }
}
